.portada {
    text-align: center;
    color: brown;
}

.resultado {
    font-size: x-large;
    font-weight: 700;
}

.dado {
display: flex;
align-items: center;
justify-content: center;
}

  .custom-input {
    background-color: #f0f8ff; /* Color de fondo */
    color: #333; /* Color del texto */
    border: 4px solid #007bff; /* Bordes */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    font-size: 32px; /* Tamaño del texto */
    max-width: 200px;
  }

  .custom-input:focus {
    outline: none; /* Eliminar el contorno azul predeterminado */
    border-color: #0056b3; /* Color del borde en foco */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra */
  }
